<h3>予約内容確認</h3>

<% prices = @room.total_prices %>
<%= prices %>/ 日

<div>開始日</div>
<td><%= @reservation.begin_day %></td>

<div>終了日</div>
<td><%= @reservation.finish_day %></td>

<% sum = (@reservation.finish_day - @reservation.begin_day + 1).to_i %>
<p>使用日数 :<%= sum %></p>

<p>人数 :<%= @reservation.people %> </p>

<p>合計金額</p>
<% sum_price = (sum * prices) %>
<p><%= sum_price %></p>

<p>上記内容でよろしければ「予約を確定」を押してください</p>


<%= form_for @reservation do |form| %>
	<%= form.hidden_field :begin_day %>
	<%= form.hidden_field :finish_day %>
	<%= form.hidden_field :people %>
	<%= form.hidden_field :room_id %>
	<%= form.hidden_field :user_id %>
	<%= form.submit '予約を確定' %>
<% end %>

<%= link_to "ルーム詳細に戻る", :back %>


