<h3>ルーム情報登録</h3>

<%= render "shared/error", obj: @room %>
 
<%= form_for @room do |f| %>
     <%= f.hidden_field :total_prices %>
 <table>
     <tr>
         <th><%= f.label :room_name ,"ルーム名" %></th>
         <td><%= f.text_field :room_name , :placeholder => "ルーム名を入力" %></td>
     </tr>
     
     <tr>
          <th><%= f.label :room_intro ,"ルーム紹介" %></th>
          <td><%= f.text_area :room_intro,  class: 'form-control',:placeholder => "ルーム説明を入力" %></td>
     </tr>
     
     <tr>
          <th><%= f.label :total_prices,"料金" %></th>
          <td><%= f.number_field :total_prices ,class: 'form-control', :placeholder => "1日あたりの料金を入力"%></td>
     </tr>
     
     <tr>
          <th><%= f.label :address ,"住所" %></th>
          <td><%= f.text_field :address ,:placeholder => "住所を入力"%></td>
     </tr>
     
     <tr>
          <th><%= f.label :image , "画像" %></th>
        　<td><%= f.attachment_field :image %></td>
        　<% if @room.image != nil %>
        　<%= image_tag attachment_url(@room, :image, :fill, 300, 300) %>
          <% end %>
     </tr>
     
     
 </table>
     
     <div>
         <ul>
             <li><%= f.submit "登録"%></li>
         </ul>
     </div>
 <% end %>
 