<h2>登録済みルーム一覧</h2>

<% if flash.notice %>
<p class="notice"><%= flash.notice %></p>
<% end %>

  <table>
   <thead>
    <tr>
     <th>ルーム画像</th>
     <th>ルーム名</th>
     <th>ルーム紹介</th>
     <th>料金</th>
     <th>作成日</th>
    </tr>
   </thead>
    
   <tbody>
    <% @rooms.each do |room| %> 
     <tr>
      <td>
       <%= link_to room_path(room.id) do %>
       <% if room.image != nil %>
       <%= image_tag attachment_url(room, :image, :fill, 300, 300) %>
       <% end %>
       <% end %>
      </td>
      <td><%= room.room_name %></td>
      <td><%= room.room_intro %></td>
      <td><%= room.total_prices %></td>
      <td><%= room.created_at %></td>
 
     </tr>
     <% end%>
   </tbody>
  </table>
 