<h2>登録済みルーム一覧</h2>

<% if flash.notice %>
<p class="notice"><%= flash.notice %></p>
<% end %>

  <table>
   <thead>
    <tr>
     <th>ルーム画像</th>
     <th>ルーム名</th>
     <th>ルーム紹介</th>
     <th>料金</th>
     <th>作成日</th>
    </tr>
   </thead>
    
   <tbody>
     <tr>
      <td><%= @room.image %></td>
      <td><%= @room.room_name %></td>
      <td><%= @room.room_intro %></td>
      <td><%= @room.total_prices %></td>
      <td><%= @room.created_at %></td>
      
      <%= form_for @reservation do |form| %>
	<%= form.hidden_field :image %>
<% end %>
     
     </tr>
   </tbody>
  </table>
 